* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  position: relative;

  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__column {
    position: absolute;
    width: 30%;
    top: 0;
    left: 0;

    &_right {
      left: auto;
      right: 0
    }
  }
  &__info {
    width: 30%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
  }
}

.column {
  padding: 20px;
  border: 1px solid #ccc;

  &__heading {
    margin-bottom: 20px;
  }

  &__check-flag {
    cursor: pointer;
    &_selected {
      -webkit-box-shadow: 0px 3px 0px 0px rgba(153,153,153,1);
      -moz-box-shadow: 0px 3px 0px 0px rgba(153,153,153,1);
      box-shadow: 0px 3px 0px 0px rgba(153,153,153,1);
    }
    input {
      display: none;
    }
  }

  &__item {
    display: block;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;

    &_selected {
      padding-left: 2px;
      border-left: 3px solid #999;
    }

    &:last-child {
      border-bottom: none;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 3px;

    $icons: "nature", "shapes", "summer", "technology";
    @each $name in $icons {
      &_#{$name} {
        background: url("icons/#{$name}.svg") no-repeat;
        background-size: 100%;
      }
    }

  }
}